{% extends "blog/base.html" %}
{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">З-Н</th>
      <th scope="col">Название</th>
      <th scope="col">Менеджер</th>
    </tr>
  </thead>
  <tbody>
  {% for post in posts %}
  {% for order in orders %}
  {% if order.post_id == post.id %}
    <tr>
      <th scope="row"><a class="text" href="{% url 'post-detail' post.id %}">{{ order.order_number }}</a></th>
      <td>{{ post.title }}</td>
      <td>{{ post.author }}</td>
    </tr>
  {% endif %}
  {% endfor %}
  {% endfor %}
  </tbody>
</table>
{% endblock content %}